# Add .env to gitignore
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.tgz

# Storage
storage/

# Logs
logs/
*.log

# Docker
.dockerignore

# Playwright
test-results/
playwright-report/
playwright/.cache/
